@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg: #111316;
        --logo: url(/assets/images/Q-logo.svg);
        --logopng: url(/assets/images/placeholder.png);
        --ticket: url(https://assets.codepen.io/13471/ticket-shape.svg);
        --ar: 20/30;
        --gutter: 8%;
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-poppins);
}

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.user-card {
    @apply h-[400px] shadow-[-10px_5px_20px_rgba(0,0,0,0.3)] overflow-hidden flex flex-col items-center justify-between transition-shadow  cursor-pointer rounded-[15px] hover:shadow-[-10px_10px_20px_rgba(0,0,0,0.4)];
    background: white;
}
.user-cover {
    @apply h-[150px] w-full relative bg-[url(https://images.pexels.com/photos/5969/wood-nature-forest-bridge.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)] bg-center bg-cover;
}
.user-avatar {
    @apply absolute w-[100px] h-[100px] bottom-[-35px] m-auto rounded-[50%] border-2 border-solid border-white inset-x-0;
}
.user-details {
    @apply text-center w-4/5 mt-[35px];
    -ms-overflow-style: none;

    /* IE and Edge */
    scrollbar-width: none;
}
.user-details::-webkit-scrollbar {
    @apply hidden;
}

.user-name {
    @apply text-2xl font-semibold;
}
.user-email {
    @apply text-sm  font-medium;
}
.user-text {
    @apply text-[15px] text-[#666] mt-[5px];
}
.contact-user {
    @apply h-[35px] w-4/5 text-[white] font-[bold] tracking-[0.5px] cursor-pointer mb-[15px] rounded-[5px] border-0;
    background: #035f7d;
}

/* Skeleton */

/* Static Skeleton */
.user-card.skeleton .user-cover {
    background: #e2e2e2;
}
.user-card.skeleton .user-cover .user-avatar {
    @apply hidden;
}
.user-card.skeleton .user-cover::after {
    @apply content-[""] absolute w-[100px] h-[100px] bottom-[-35px] z-10 m-auto rounded-[50%] border-2 border-solid border-white inset-x-0;
    background: #e2e2e2;
}

/* Animated Skeleton */
.user-card.skeleton .hide-text {
    @apply text-transparent relative overflow-hidden before:content-[""] before:absolute before:h-full before:w-[50px] before:blur-[5px] before:left-[0%] before:top-0;
    background: #e2e2e2;
}
.user-card.skeleton .hide-text::before {
    background: linear-gradient(
        to right,
        #e2e2e2 25%,
        #d5d5d5 50%,
        #e2e2e2 100%
    );
    animation-name: gradient-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes gradient-animation {
    from {
        @apply left-[0%];
    }
    to {
        @apply left-full;
    }
}

.filter-grey {
    filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
        hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
    .wrapper {
        @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    /* TYPOGRAPHY */
    /* 64 */
    .h1-bold {
        @apply font-bold text-[40px] leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[74px];
    }

    /* 40 */
    .h2-bold {
        @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    .h2-medium {
        @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    /* 36 */
    .h3-bold {
        @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
    }

    .h3-medium {
        @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
    }

    /* 32 */
    .h4-medium {
        @apply font-medium text-[32px] leading-[40px];
    }

    /* 28 */
    .h5-bold {
        @apply font-bold text-[28px] leading-[36px];
    }

    /* 24 */
    .p-bold-24 {
        @apply font-bold text-[24px] leading-[36px];
    }

    .p-medium-24 {
        @apply font-medium text-[24px] leading-[36px];
    }

    .p-regular-24 {
        @apply font-normal text-[24px] leading-[36px];
    }

    /* 20 */
    .p-bold-20 {
        @apply font-bold text-[20px] leading-[30px] tracking-[2%];
    }

    .p-semibold-20 {
        @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
    }

    .p-medium-20 {
        @apply text-[20px] font-medium leading-[30px];
    }

    .p-regular-20 {
        @apply text-[20px] font-normal leading-[30px] tracking-[2%];
    }

    /* 18 */
    .p-semibold-18 {
        @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
    }

    .p-medium-18 {
        @apply text-[18px] font-medium leading-[28px];
    }

    .p-regular-18 {
        @apply text-[18px] font-normal leading-[28px] tracking-[2%];
    }

    /* 16 */
    .p-bold-16 {
        @apply text-[16px] font-bold leading-[24px];
    }

    .p-medium-16 {
        @apply text-[16px] font-medium leading-[24px];
    }
    p-medium-20 {
        @apply text-[20px] font-medium leading-[24px];
    }
    .p-regular-16 {
        @apply text-[16px] font-normal leading-[24px];
    }

    /* 14 */
    .p-semibold-14 {
        @apply text-[14px] font-semibold leading-[20px];
    }

    .p-medium-14 {
        @apply text-[14px] font-medium leading-[20px];
    }

    .p-regular-14 {
        @apply text-[14px] font-normal leading-[20px];
    }

    /* 12 */
    .p-medium-12 {
        @apply text-[12px] font-medium leading-[20px];
    }

    /* SHADCN OVERRIDES */
    .select-field {
        @apply w-full bg-grey-50 h-[54px] placeholder:text-grey-500 rounded-full p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent !important;
    }

    .input-field {
        @apply bg-grey-50 h-[54px] focus-visible:ring-offset-0 placeholder:text-grey-500 rounded-full p-regular-16 px-4 py-3 border-none focus-visible:ring-transparent !important;
    }

    .textarea {
        @apply bg-grey-50 flex flex-1 placeholder:text-grey-500 p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent !important;
    }

    .button {
        @apply rounded-full h-[54px] p-regular-16;
    }
    .userCardButton {
        @apply rounded-sm h-[36px] p-regular-16;
    }

    .select-item {
        @apply py-3 cursor-pointer  focus:bg-primary-50;
    }

    .toggle-switch {
        @apply bg-gray-300 !important;
    }
}

/* ========================================== CLERK STYLES */
.cl-logoImage {
    height: 38px;
}

.cl-userButtonBox {
    flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
    font-size: 16px;
}

.cl-userButtonPopoverCard {
    right: 4px !important;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
    background-color: #705cf7;
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
    width: 100%;
}

.react-datepicker__input-container input {
    background-color: transparent;
    width: 100%;
    outline: none;
    margin-left: 16px;
}

.react-datepicker__day--selected {
    background-color: #624cf5 !important;
    color: #ffffff !important;
    border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
    background-color: #624cf5 !important;
}

/* ORDER TICKET CSS */
#app {
    perspective: 1200px;
    --o: 0;
    --p: 100%;
    --h: 50%;
    --r: 0;
    transform: translate3d(0, 0, 0.1px);
}

.ticket {
    --scale: 1;
    transform: translate3d(0, 0, 0.1px) scale(var(--scale)) rotateY(var(--r));
    transform-style: preserve-3d;
    pointer-events: auto;
}

.front,
.back {
    grid-area: 1/1;
    background-color: #6e6176;
    background-image: radial-gradient(
        circle at var(--p) 50%,
        #fff 10%,
        transparent 100%
    );
    background-size: 100% 220vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: grid;
    backface-visibility: visible;
    transform: translateZ(1px);
    transform-style: preserve-3d;
    mask-image: var(--ticket);
    mask-size: cover;
    mask-repeat: no-repeat;
}
.cutout {
    position: absolute;
}

.front::after,
.back::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        -70deg,
        transparent 40%,
        rgba(255, 255, 255, 0.5) 40.5%,
        transparent
    );
    background-size: 200% 200%;
    background-position: var(--p) var(--p);
    z-index: 5;
    opacity: calc(var(--o) + 0.5);
    pointer-events: none;
}

.front {
    transform: rotateY(180deg) translateZ(1px);
}

.holo {
    display: block;
    position: absolute;
    inset: 0;
    border-radius: 15px;
}

.holo {
    --space: 5%;
    --red: hsl(0, 100%, 50%);
    --orange: hsl(30, 100%, 50%);
    --yellow: hsl(60, 100%, 50%);
    --green: hsl(120, 100%, 50%);
    --cyan: hsl(180, 100%, 50%);
    --blue: hsl(222, 100%, 50%);
    --purple: hsl(258, 100%, 50%);
    --magenta: hsl(300, 100%, 50%);
    background-image: repeating-linear-gradient(
        -45deg,
        var(--red) 0%,
        var(--orange) calc(var(--space) * 1),
        var(--yellow) calc(var(--space) * 2),
        var(--green) calc(var(--space) * 3),
        var(--cyan) calc(var(--space) * 4),
        var(--blue) calc(var(--space) * 5),
        var(--purple) calc(var(--space) * 6),
        var(--magenta) calc(var(--space) * 7),
        var(--red) calc(var(--space) * 8)
    );
    background-size: 150vw 150vh;
    background-position: calc(var(--h)) calc(var(--h));
    background-repeat: no-repeat;
    mask-image: var(--logopng);
    mask-size: 6% 4%;
    mask-repeat: repeat;
    mix-blend-mode: plus-lighter;
    filter: brightness(0.9) contrast(0.7) saturate(2);
    opacity: var(--o);
}

.logo {
    position: relative;
    z-index: 3;
}
.data {
    position: relative;
    z-index: 2;
}

.logo {
    width: 50%;
    place-self: center;
    transform: translateY(-14%);
}

.back .logo {
    position: absolute;
    right: var(--gutter);
    top: 13%;
    width: 16%;
    image-rendering: optimize-speed;
    image-rendering: crisp-edges;
}

.data {
    margin: 14% var(--gutter);
    text-transform: uppercase;
}

.ticket h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin: 0.2em 0;
}

.ticket p {
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    margin: 0.2em 0 1em;
}

[contenteditable] {
    outline: none;
}
[contenteditable]:focus {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.qr {
    max-width: 30%;
    display: block;
    image-rendering: optimize-speed;
    image-rendering: crisp-edges;
}

.divider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 2%;
    left: 0;
    right: 0;
    height: 18%;
    padding: 0 var(--gutter);

    background-image: repeating-linear-gradient(
            90deg,
            #fff0 0px,
            #fff0 8px,
            #0005 8px,
            #0005 16px
        ),
        radial-gradient(ellipse at center center, #fff0 10%, transparent 50%);
    background-size: 100% 1.5px, 250% 1.5px;
    background-repeat: no-repeat;
    background-position: -4px top, var(--h) top;
    background-blend-mode: overlay;

    font-size: 16px;
    font-weight: 400;
    z-index: 2;
}

.username {
    display: flex;
    align-items: center;
    font-family: heebo;
    font-weight: 600;
}

.profile {
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 0 0 1.33px black;
    margin-right: 10px;
    image-rendering: optimize-speed;
    image-rendering: crisp-edges;
}

.verified {
    width: 18px;
    margin-left: 5px;
}
.usernum {
    font-size: 20px;
}

.ticket img {
    display: block;
    max-width: 100%;
}

.ticket h1 {
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    top: 20px;
    text-align: center;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

/* body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} */

#app {
    color: black;
    font-family: 'Roboto Mono', monospace;

    display: flex;
    /* grid: 1fr/1fr; */
    place-content: center;
    overflow: hidden;
    padding: 50px;
    z-index: 999;
}

.ticket {
    display: grid;
    grid-area: 1/1;
    width: 400px;
    aspect-ratio: var(--ar);
}

/* @media screen and (max-width: 400px) {
    .ticket {
        --scale: 0.75;
    }
} */
@media screen and (max-width: 500px) {
    .ticket h3 {
        font-size: 14px;
    }
    .ticket p {
        font-size: 16px;
    }
    .usernum {
        font-size: 14px;
    }
    .divider {
        font-size: 12px;
    }
}
